<!-- <ion-item no-lines class="chat-message__message-right" *ngIf="ChatMessage.userToId === userId; else from"> -->
<ion-item no-lines class="chat-message__message-right">

  <ion-avatar item-right>
    <img src="assets/img/avatar.png" alt="avatar">
  </ion-avatar>
  <h2>{{chatMessage?.userFromProfile?.firstName}} {{chatMessage?.userFromProfile?.lastName}}</h2>
  <p>{{chatMessage.content}}</p>
</ion-item>
<ng-template #from>
  <ion-item no-lines>
    <ion-avatar item-left>
      <img src="assets/img/avatar.png" alt="avatar">
    </ion-avatar>
    <h2>{{chatMessage?.userFromProfile?.firstName}} {{chatMessage?.userFromProfile?.lastName}}</h2>
    <p>{{chatMessage.content}}</p>
  </ion-item>
</ng-template>
